{
  "openapi": "3.1.0",
  "info": {
    "title": "ChillaxSIM API",
    "version": "1.0.0",
    "description": "Provides ChillaxSIM eSIM product listings and checkout link generation for integration with ChatGPT."
  },
  "servers": [
    {
      "url": "https://eo1slwltkmbxza3.m.pipedream.net",
      "description": "ChillaxSIM Pipedream API"
    }
  ],
  "paths": {
"/products": {
  "get": {
    "operationId": "getProducts",
    "summary": "Get all available eSIM products, optionally filtered by country",
    "parameters": [
      {
        "name": "country",
        "in": "query",
        "description": "Filter products by country or region name (e.g., 'japan', 'south korea', 'europe', 'asia','north america','africa','balkans','china&hongkong&macao','malaysia&singapore')",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      {
        "name": "limit",
        "in": "query",
        "description": "Number of products to return",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 3
        }
      },
      {
        "name": "offset",
        "in": "query",
        "description": "Offset for pagination",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 0
        }
      }
    ],
    "responses": {
      "200": {
        "description": "List of products",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        }
      }
    }
  }
}
,
    "/checkout": {
      "post": {
        "operationId": "createCheckoutLink",
        "summary": "Generate checkout link for a selected product",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout link response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the product"
          },
          "title": {
            "type": "string",
            "description": "Product name"
          },
          "coverage": {
            "type": "string",
            "description": "Coverage region"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Variant"
            }
          }
        },
        "required": ["id", "title", "variants"]
      },
      "Variant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Variant ID"
          },
          "title": {
            "type": "string",
            "description": "Variant name"
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Price of the variant"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g. USD)"
          }
        },
        "required": ["id", "title", "price", "currency"]
      },
      "CheckoutRequest": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "description": "ID of the product to purchase"
          },
          "quantity": {
            "type": "integer",
            "default": 1,
            "description": "Quantity to purchase"
          }
        },
        "required": ["product_id"]
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "checkout_url": {
            "type": "string",
            "description": "URL to redirect user to checkout"
          }
        },
        "required": ["checkout_url"]
      }
    }
  }
}


